<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlackVintage.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BlackVintage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BlackVintage.Settings1>
            <setting name="SizesTypes" serializeAs="String">
                <value />
            </setting>
            <setting name="Categories" serializeAs="String">
                <value />
            </setting>
            <setting name="Colors" serializeAs="String">
                <value />
            </setting>
            <setting name="Api" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderPrint" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderPrepare" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderSumatra" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderOrders" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintedItems" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintedOrders" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stock" serializeAs="String">
                <value />
            </setting>
        </BlackVintage.Settings1>
        <BlackVintage.Properties.Settings>
            <setting name="SizesTypes" serializeAs="String">
                <value />
            </setting>
            <setting name="Categories" serializeAs="String">
                <value />
            </setting>
            <setting name="Colors" serializeAs="String">
                <value />
            </setting>
            <setting name="Api" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer" serializeAs="String">
                <value />
            </setting>
        </BlackVintage.Properties.Settings>
    </userSettings>
</configuration>